pandas
numpy==2.0.0
scikit-learn
matplotlib
seaborn
streamlit==1.38.0
google-generativeai
streamlit-authenticator==0.4.1
openpyxl
python-dotenv
streamlit-lottie
ydata-profiling
setuptools
st-gsheets-connection==0.1.0